  /* Additional styles for dark mode */
  /* body{
    margin: 0 40px;
  } */
  .crypto-ideas-block{
    margin: 0 8%;
  }
  .benefits-block{
    margin: 0 8%;
  }
  .experts-block{
    margin: 0 8%;
  }
  .benefits-block{
    margin: 0 8%;
  }
  .reports-block{
    margin: 0 8%;
  }
  .services-block{
    margin: 0 8%;
  }
  .blogs-container{
    margin: 0 20%;
  }
  .dark-mode {
    background-color: black;
    color: #fff;
}


.dark-mode button {
  background-color: #ec672a !important;
    color: #fff;
}
.active-category{
  background-color: white !important;
  border: 1px solid black !important;
}
.dark-mode .active-category{
 background-color: black !important;
 border: 1px solid white !important;
}
.dark-mode .reports-card{
  color: white !important
}
.dark-mode .reports-card:hover{
  color: black !important
}
.dark-mode header{
  background-color: black !important;
  color: white !important;
  position: fixed !important;
}
header{
  background-color: white !important;
  color:black !important;
  height: 70px;
  position: fixed !important;
}
.blog-cates{
  display: contents !important;
}
.report-new-tag{
  right: 30px;
  top: 30px;
  padding: 2px 10px;
  background-color: #ec672a !important;
  color: white;
}
.theme-color{
  color: #ec672a !important;
}
.stndrd-btn{
  background-color: #ec672a !important;
  color: white !important;
}
.stndrd-watch-btn{
  background-color: #ec672a !important;
  color: white !important;
  outline: 2px solid white !important; 

}
.reports-card-txt-container{
  height: auto !important;
  max-height: 220px !important;
}
.dark-mode .reports-card-txt-container:hover{
  text-decoration: underline;
  color: white;
}
.reports-card-txt-container:hover{
  text-decoration: underline;
  color: black;
}
#themeToggle{
  background-color: transparent !important;
}
#themeToggle:focus{
  border: none !important;
  outline:  none !important;
}
.price-container{
  border-color: #ec672a !important;

}
.dark-mode .cryto-ideas-cards{
  background-color: black !important;
}
.media-container{
  margin: 0 25% !important;
}
.dark-mode .cryto-ideas-cards::before{
  content: '';
    position: absolute;
    left: 5px;
    top: 0;
    display: block;
    z-index: -1;
    width: calc(100% - 10px);
    border-radius: 50px;
    height: 100%;
    box-shadow: 0 0 20px -6px #ec672a !important;
}
.dark-mode .report-cards{
  background-color: #141414 !important;
  padding: 0 10px;
}
 .report-cards{
  background-color: rgb(235, 231, 231) !important;
  padding: 0 10px;
}
.dark-mode .podcast-card{
  background-color: #1c1c1d !important;
}
.podcast-card{
  background-color: rgb(235, 231, 231) !important;
}
 .podcast-card-details{
  background: transparent !important;
}
.email-border{
  border:2px solid #ec672a;
}
.experts-cards{
  /* margin-left: -7%; */
}
.article-image{
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .experts-cards{
    margin-left: 0;
  }
}

.image-container {
 /* Set the height of the container */
  overflow: hidden; /* Hide the overflow to keep the zoomed image within the container */
}

.zoomed-image {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Maintain the aspect ratio of the image while covering the container */
  transition: transform 0.4s ease; /* Add a smooth transition effect for the zoom */
}

/* Add hover effect to zoom in and zoom out on hover */
.image-container:hover .zoomed-image {
  transform: scale(1.2); /* Set the zoom level on hover (1.2 means 120% zoom) */
}

.image-container:not(:hover) .zoomed-image {
  transform: scale(1); /* Set the original scale when not hovering */
}
.block-content{
  margin: auto !important;
  max-width: 80% !important;
}
.block-title{
  margin-left: 10.5% !important;
  max-width: 80% !important;
}
.weekly-cards{
  max-width: 228px !important;
  max-height: 88px !important;
}
.weekly-cards-container{
  margin: auto !important;
  max-width: 1101px !important;
  max-height: 224px !important;
}
.horizontal-line{
  margin:  auto -10% auto -5%;
  width: 75%;
  background-color: #ec672a;
}
.crypto-horizontal-line{
  margin:  auto -8% auto -1.5%;
  width: 68%;
  background-color: #ec672a;
}
.podcast-horizontal-line{
  margin:  auto -8% auto -7%;
  width: 20%;
  background-color: #ec672a;
}
.disclaimer{
  padding: 4% 0;
  border-top: 2px solid #ec672a !important;
}
.footer{
  border-top: 2px solid #ec672a !important;
}