  /* Additional styles for dark mode */
 

  @media only screen and (min-width: 2400px) {
    body{
      letter-spacing: 1px;
     }
     nav{
      margin: 0 22% !important;
     }
    .crypto-ideas-block{
      margin: 0 22% !important;
    }
    .benefits-block{
      margin: 0 22% !important;
    }
    .experts-block{
      margin: 0 22% !important;
    }
    .benefits-block{
      margin: 0 22% !important;
    }
    .reports-block{
      margin: 0 22% !important;
    }
    .services-block{
      margin: 0 22% !important;
    }
    .footer{
      margin: 0 22% !important;
    }
    .cover-screen{
      padding: 0 22% 0 22% !important;
    }
    
    .media-container{
      margin: 0 22% !important;
      text-align: -webkit-center;
    }
    .media-container video{
      width:"80%" ;
      height:"320px";
    }
 .podcast-horizontal-line{
  margin:  auto -8% auto -7%;
  width: 63%;
  background-color: #ec672a;
}
  }
  .blogs-container{
    margin: 0 10%;
  }
  .dark-mode {
    background-color: black;
    color: #fff;
}

.heading-margin{
  margin-top: 120px !important;
}
.dark-mode .research-block{
  background:transparent
}

.dark-mode button {
  background-color: #ec672a !important;
    color: #fff;
}
.active-category{
  background-color: white !important;
  border: 1px solid black !important;
}
.dark-mode .active-category{
 background-color: black !important;
 border: 1px solid white !important;
}
.dark-mode .reports-card{
  color: white !important
}
.dark-mode .reports-card:hover{
  color: black !important
}
.dark-mode header{
  background-color: black !important;
  color: white !important;
  position: fixed !important;
}
header{
  background-color: white !important;
  color:black !important;
  height: 70px;
  position: fixed !important;
}
.blog-cates{
  display: contents !important;
}
.report-new-tag{
  right: 20px;
  top: 20px;
  padding: 2px 10px;
  background-color: #ec672a !important;
  color: white;
  z-index: 1;
}
.theme-color{
  color: #ec672a !important;
}
.stndrd-btn{
  background-color: #ec672a !important;
  color: white !important;
}
.stndrd-watch-btn{
  background-color: #ec672a !important;
  color: white !important;
  outline: 2px solid white !important; 

}
.reports-card-txt-container{
  height: auto !important;
  max-height: 220px !important;
  font-weight: 600;
}
.dark-mode .reports-card-txt-container:hover{
  text-decoration: underline 2px #ec672a;
  color: white;
}
.reports-card-txt-container:hover{
  text-decoration: underline;
  color: black;
}
#themeToggle{
  background-color: transparent !important;
}
#themeToggle:focus{
  border: none !important;
  outline:  none !important;
}
.price-container{
  border-color: #ec672a !important;

}
.dark-mode .cryto-ideas-cards{
  background-color: black !important;
}
.media-container{
  margin: 0 25% !important;
  text-align: -webkit-center;
}
.media-container video{
  width:"100%" ;
  height:"320px";
}
.dark-mode .cryto-ideas-cards::before{
  content: '';
    position: absolute;
    left: 5px;
    top: 0;
    display: block;
    z-index: -1;
    width: calc(100% - 10px);
    border-radius: 50px;
    height: 100%;
    box-shadow: 0 0 20px -6px #ec672a !important;
}
.dark-mode .report-cards{
  background-color: #141414 !important;
  padding: 0 10px;
}
 .report-cards{
  background-color: rgb(235, 231, 231) !important;
  padding: 0;
}
.dark-mode .podcast-card{
  background-color: #1c1c1d !important;
}
.podcast-card{
  background-color: rgb(235, 231, 231) !important;
}
 .podcast-card-details{
  background: transparent !important;
}
.email-border{
  border:2px solid #ec672a;
}
.experts-cards{
  /* margin-left: -7%; */
}
.article-image{
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .experts-cards{
    margin-left: 0;
  }
}

.image-container {
 /* Set the height of the container */
  overflow: hidden; /* Hide the overflow to keep the zoomed image within the container */

}

.zoomed-image {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Maintain the aspect ratio of the image while covering the container */
  transition: transform 0.4s ease; /* Add a smooth transition effect for the zoom */
}

/* Add hover effect to zoom in and zoom out on hover */
.image-container:hover .zoomed-image {
  transform: scale(1.2); /* Set the zoom level on hover (1.2 means 120% zoom) */
}

.image-container:not(:hover) .zoomed-image {
  transform: scale(1); /* Set the original scale when not hovering */
}
.block-content{
  margin: auto !important;
}
.block-title{
  /* margin-left: 10.5% !important;
  max-width: 80% !important; */
}
.weekly-cards{
  max-width: 228px !important;
  max-height: 88px !important;
}
.weekly-cards-container{
  margin: auto !important;
  max-width: 1101px !important;
  max-height: 224px !important;
}
.horizontal-line{
  margin:  auto -10% auto -5%;
  width: 75%;
  background-color: #ec672a;
}
.crypto-horizontal-line{
  margin:  auto -8% auto -1.5%;
  width: 68%;
  background-color: #ec672a;
}
.podcast-horizontal-line{
  margin:  auto -8% auto -7%;
  width: 45%;
  background-color: #ec672a;
}
.disclaimer{
  padding: 4% 0;
}
.footer{
  margin: 0 5%;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card:hover {
  transition: 0.4s ease-out;
  box-shadow: 0 0 30px rgb(0 0 0 / 35%);
  margin-top: -0.7rem;
}
.podcast-card-animation:hover {
  transition: 0.4s ease-out;
  box-shadow: 0 0 30px rgb(0 0 0 / 35%);
  margin-top: -0.7rem;
}
.risk_targeting{
  height: auto; 
  max-height: auto;
  min-height: 400px;
  width: 100%; 
  max-width: 100%;
}
.benefits-card-dimension{
  height: 170px !important;
  width: 170px !important;
  max-height: 170px !important;
  max-width: 170px !important;
}
.try-now{
  width: 20%;
}

.crypto-ideas-block{
  margin: 0 5%;
}
.benefits-block{
  margin: 0 5%;
}
.experts-block{
  margin: 0 5%;
}
.benefits-block{
  margin: 0 5%;
}
.reports-block{
  margin: 0 5%;
}
.services-block{
  margin: 0 5%;
}
.cover-screen{
  padding: 0 5% 5% 0;
}
nav{
  margin: 0 5%;
 }
 /* footer div{
  margin: 0 10% ;
} */
.sc-a6ebab5a-1{
  height: auto;
  min-height: 300px;
  font-size: 35px !important;
  font-weight: 700;
  padding: 30px;
  background-color: #e87d4b;
  color: white;
  border-radius: 10px;
}
.comming-soon{
  filter: blur(6px);
}
.service-card{
  border: 2px solid #e87d4b;
  padding: 20px;
  border-radius: 5px;
}
.footer-container{
  padding: 5rem 5rem 7rem;
}
.image-link{
  max-width: 20px;
  max-height: 20px;
}
.img-box1{
  flex: 1;
}
.text-box1{
  flex: 1;
}
.right-box{
  margin-bottom: 0.5rem
}
.container{
  margin: auto;
  max-width: 80%;
}
.cover-screen{
  background-color: #141414;
  color: white;
}
.subscribe{
  max-width: 605px !important;
  min-width: 400px !important;
}