  /* Additional styles for dark mode */
  body{
    margin: 0 50px;
  }
  .dark-mode {
    background-color: black;
    color: #fff;
}

.dark-mode button {
  background-color: #ec672a !important;
    color: #fff;
}
.active-category{
  background-color: white !important;
  border: 1px solid black !important;
}
.dark-mode .active-category{
 background-color: black !important;
 border: 1px solid white !important;
}
.dark-mode .reports-card{
  color: white !important
}
.dark-mode .reports-card:hover{
  color: black !important
}
.dark-mode header{
  background-color: black !important;
  color: white !important;
  position: fixed !important;
}
header{
  background-color: white !important;
  color:black !important;
  height: 70px;
  position: fixed !important;
}
.blog-cates{
  display: contents !important;
}
.report-new-tag{
  right: 30px;
  top: 30px;
  padding: 2px 10px;
  background-color: #ec672a !important;
  color: white;
}
.theme-color{
  color: #ec672a !important;
}
.stndrd-btn{
  background-color: #ec672a !important;
  color: white !important;
}
.stndrd-watch-btn{
  background-color: #ec672a !important;
  color: white !important;
  outline: 2px solid white !important; 

}
.reports-card-txt-container{
  height: 150px !important;
  max-height: 150px !important;
}
.dark-mode .reports-card-txt-container:hover{
  text-decoration: underline;
  color: white;
}
.reports-card-txt-container:hover{
  text-decoration: underline;
  color: black;
}
#themeToggle{
  background-color: transparent !important;
}
#themeToggle:focus{
  border: none !important;
  outline:  none !important;
}
.price-container{
  border-color: #ec672a !important;

}
.dark-mode .cryto-ideas-cards{
  background-color: black !important;
}
.media-container{
  margin: 0 15%;
}
.dark-mode .cryto-ideas-cards::before{
  content: '';
    position: absolute;
    left: 5px;
    top: 0;
    display: block;
    z-index: -1;
    width: calc(100% - 10px);
    border-radius: 50px;
    height: 100%;
    box-shadow: 0 0 20px -6px #ec672a !important;
}
.dark-mode .report-cards{
  background-color: #141414 !important;
  padding: 0 10px;
}
 .report-cards{
  background-color: rgb(235, 231, 231) !important;
  padding: 0 10px;
}
.dark-mode .podcast-card{
  background-color: #1c1c1d !important;
}
.podcast-card{
  background-color: rgb(235, 231, 231) !important;
}
 .podcast-card-details{
  background: transparent !important;
}
.email-border{
  border:2px solid #ec672a;
}
.experts-cards{
  margin-left: -7%;
}
.article-image{
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .experts-cards{
    margin-left: 0;
  }
}
